/* Header.module.css */

.header {
    background: linear-gradient(90deg, #1f4037, #99f2c8);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .logo {
    margin-left: 16px;
    color: #faf9f6;
  }
  
  .logoText {
    font-family: 'serif';
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 24px;
    margin-right: 16px;
  }
  
  .iconBar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    padding: 32px;
    background-color: #418364;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    transform: translateX(100%);
  }
  
  .navOpen {
    transform: translateX(0);
  }
  
  .closeIcon {
    color: white;
    cursor: pointer;
    margin-bottom: 24px;
  }
  
  .navLink {
    color: white;
    font-size: 1.2rem;
    font-family: 'serif';
    font-weight: 800;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: transform 0.3s ease;
  }
  
  .navLink:hover {
    transform: scale(1.25);
    border-color: transparent;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .header {
      align-items: center;
      padding: 0;
    }
  
    .menuIcon {
      display: none;
    }
  
    .nav {
      position: static;
      height: auto;
      width: auto;
      background: transparent;
      transform: translateX(0);
      flex-direction: row;
      gap: 150px;
    }
  
    .closeIcon {
      display: none;
    }
  
    .navLink {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
  