/* HeroSection.module.css */

.heroSection {
  background: linear-gradient(90deg, #1f4037, #99f2c8); /* custom gradient */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
  }
  
  .contentContainer {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
  }
  
  .textContainer {
    margin: 0 16px;
  }
  
  .heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .subheading {
    font-size: 1.125rem;
    margin-bottom: 24px;
  }
  
  .buttonGroup {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    background-color: #2b2f33; /* forest green */
    color: white;
    padding: 13px 24px;
    border-radius: 4px;
    transition: all 0.2s ease;
    font-size: 1rem;
    cursor: pointer;
   
  }
  
  .button:hover {
    background-color: #059669; /* emerald green */
    transform: scale(1.05);
  }
  
  .imageContainer {
    display: none;
    margin-top: 128px;
  }
  
  .profileImage {
    height: 480px;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .contentContainer {
      gap: 0;
    }
  
    .textContainer {
      margin: 0 24px;
    }
  
    .imageContainer {
      display: block;
    }
  }
  